.p-hero-image {
  width: $width100;
  height: rem(498);
  background-image: url(/Sharing/Images/aracan-top2x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
