$header_color: #3F51B5;
$font_color: #333333;
$header_font_color: #FFFFFF;
$font_line_color: #000000;
$font_line_color2: #E81919;

$font: Yu Gothic;
$font_size: Bold - 68px #333333;
$font_size2: Bold - 38px #333333;
$font_size3: Bold - 38px #FFFFFF;
$font_size4: Regular - 16px #FFFFFF;

/*

opacity
透明度を変更する
ex. filter: opacity(50%);

brightness
明るさを変更する
ex. filter: brightness(0.5);

blur
ガウスぼかしを適用する（今回使いたいのはコレ）
ex. filter: blur(5px);

drop-shadow
ドロップシャドウ効果（影をつける）を適用する
box-shadowとかtext-shadow的なやつ
ex. filter: drop-shadow(16px 16px 10px black);
影の色: #000000 10%


 position: fixed; でメニューバーを固定する
*/


html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  /*font-size: 100 %;*/
  vertical-align: baseline;
  background: transparent;
  text-align: right;
}

nav {

  list-style: none;

  ul {
    li {
      display: inline-block;
      margin-top: 40px;
      margin-right: 21px;

      a {
        color: $header_font_color;
        text-decoration: none;
      }
    }
  }
}

header {

  height: 100px;

  background-color: $header_color;
  p {
    a {
      position: absolute;
      left: 140px;
      top: 31px;
    }
  }
}
