{
    "env":{
        "browser": true,
        "jquery": true
    },
    "extends": "eslint:recommended",
    "globals": {},
    "parserOptions": {
        "ecmaVersion": 2015
    },
    "rules":{
        "no-console": "off",
        "semi":"error",
        "no-extra-semi": "warn",
        "no-undef": "warn",
        "no-unused-vars":"off",
    }
}
