/* RSCSSでの記述 */
@import "scss/common-header", "scss/global-nav", "scss/site-title";
@import "scss/main-block", "scss/main-text", "scss/sub-text", "scss/btn-contact";

$font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
$font-weight: 500;
.inner-flex {
  margin: 0 auto;
  width: 100%;
  max-width: 1366px;
  font-family: "游ゴシック体", yugothic, "游ゴシック", "Yu Gothic", "メイリオ", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  font-weight: bold;
}