.lay-article {
  display: flex;
  justify-content: center;
  max-width: 1088px;

  > .guest {
    width: percentage(3/12);
    background: rgba(red, 0.25);
    height: 80px
  }

  > .main {
    width: percentage(5/12);
    background: rgba(red, 0.25);
    height: 80px
  }

  > .sidebar {
    width: percentage(4/12);
    background: rgba(red, 0.25);
    height: 80px;

  }
}