.global-nav {
  > .layout {
    margin-top: 4rem;
  }
  > .nav {
    width: 34.4rem;
    height: 25.5px;
    display: flex;
  }
}

.item {
  padding-right: 3rem;
  font-weight: normal;
  &:nth-child(5) {
    padding-right: 0;
  }
  > .effect {
    text-decoration: none;
    &:hover {
      border-bottom: solid 2px red;
      padding-bottom: 1rem;
    }
  }
}